@import "tailwindcss";

@keyframes float-up {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-120px) scale(1.5);
    opacity: 0;
  }
}

/* 유틸리티 클래스 */
.animate-float-up {
  animation: float-up 1s ease-out forwards;
}